In [27]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [52]:
ufos = pd.read_csv('scrubbed.csv', low_memory=False, error_bad_lines = False)
ufos['date posted'] = pd.to_datetime(ufos['date posted'])
ufos['duration (seconds)'] = pd.to_numeric(ufos['duration (seconds)'], errors='coerce')
ufos['datetime'] = pd.to_datetime(ufos['datetime'].apply(lambda x: x.split()[0]))

In [54]:
ufos.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,1949-10-10,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27,29.8830556,-97.941111
1,1949-10-10,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.38421,-98.581082
2,1955-10-10,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.2,-2.916667
3,1956-10-10,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.9783333,-96.645833
4,1960-10-10,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.4180556,-157.803611

--------------
# Proporcion de figuras visualizadas

In [55]:
ufos['shape'].value_counts() #/ ufos['shape'].count()

light        16565
triangle      7865
circle        7608
fireball      6208
other         5649
unknown       5584
sphere        5387
disk          5213
oval          3733
formation     2457
cigar         2057
changing      1962
flash         1328
rectangle     1297
cylinder      1283
diamond       1178
chevron        952
egg            759
teardrop       750
cone           316
cross          233
delta            7
crescent         2
round            2
flare            1
pyramid          1
dome             1
hexagon          1
changed          1
Name: shape, dtype: int64

-------------
# Avistajes por estado

In [56]:
ufos[ufos['country'] == 'us']['state'].value_counts()

ca    8912
wa    3966
fl    3835
tx    3447
ny    2980
il    2499
az    2414
pa    2366
oh    2275
mi    1836
or    1747
nc    1740
mo    1458
co    1413
in    1288
va    1273
ma    1256
nj    1255
ga    1255
wi    1232
tn    1119
mn    1012
sc    1003
ct     892
ky     855
md     837
nv     803
ok     724
nm     720
ia     678
al     642
ut     622
ks     613
ar     588
me     558
la     558
id     521
nh     486
mt     478
wv     448
ne     381
ms     375
ak     319
hi     262
vt     260
ri     228
sd     183
wy     175
de     166
nd     129
pr      25
dc       7
Name: state, dtype: int64

----
# Avistajes por a√±o

In [61]:
#ufos.loc[(ufos['country'] == 'ca') & (ufos['datetime'].dt.year == 2010)].count()
ufos.loc[(ufos['country'] == 'us') & (ufos['datetime'].dt.year == 2000)].count()

datetime                2184
city                    2184
state                   2184
country                 2184
shape                   2149
duration (seconds)      2183
duration (hours/min)    2184
comments                2184
date posted             2184
latitude                2184
longitude               2184
dtype: int64

In [63]:
ufos.loc[((ufos['datetime'].dt.year == 2007) & (ufos['datetime'].dt.month == 3))].sort_values(by=['duration (seconds)'],ascending=True).head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
33033,2007-03-22,corvallis,or,us,light,1.0,one-half second,Round&#44 white light with halo effect appear...,2007-04-27,44.5647222,-123.260833
34683,2007-03-04,herndon,va,us,circle,1.0,1 sec,I was driving north on Fairfax Co. Parkway bet...,2007-06-12,38.9694444,-77.386389
33749,2007-03-27,millstone twp.,nj,NaN,flash,1.5,1-1.5 seconds,BRIGHT FLASH NJ FOLLOWED BY ACCELERATED OBJECT,2007-04-27,40.209444,-74.437500
30709,2007-03-01,hollywood,ca,us,fireball,2.0,2 seconds,Brilliant ball of light streaks across the sky...,2007-03-08,34.0983333,-118.325833
30699,2007-03-01,cardiff (uk/wales),NaN,gb,teardrop,2.0,moments,Disk shaped craft captured on camera by accide...,2009-04-14,51.5,-3.200000

## Avistaje de menor duracion

In [65]:
ufos.sort_values('duration (seconds)', ascending = False).head(20)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
559,1983-10-01,birmingham (uk/england),NaN,gb,sphere,97836000.0,31 years,Firstly&#44 I was stunned and stared at the ob...,2013-04-12,52.466667,-1.916667
53384,2010-06-03,ottawa (canada),on,ca,other,82800000.0,23000hrs,((HOAX??)) I was out in a field near mil&#44 ...,2010-07-06,45.416667,-75.700000
74660,1991-09-15,greenbrier,ar,us,light,66276000.0,21 years,Orange or amber balls or orbs of light multipl...,2008-03-31,35.2338889,-92.387500
64390,2012-08-10,finley,wa,us,light,52623200.0,2 months,There have been several flying objects in a pe...,2012-08-19,46.1541667,-119.032778
38261,1983-04-02,dont know,NaN,NaN,NaN,52623200.0,2 months,Hi&#44 I&#8217;m writing to you because I wan...,2004-07-25,41.730561,-78.682099
69215,2002-08-24,englewood,fl,us,light,52623200.0,2 months,bright stars&#44 moving erratically&#44 over t...,2002-08-28,26.9616667,-82.352778
52709,1969-06-30,somerset (uk/england),NaN,gb,cone,25248000.0,8 years,First time it was a bright light and missing t...,2009-08-05,51.083333,-3.000000
71172,2008-08-03,virginia beach,va,us,fireball,10526400.0,4 months,this object was very high up and emmited no so...,2008-08-12,36.8527778,-75.978333
6991,2013-10-07,oklahoma,ok,NaN,circle,10526400.0,4 months,Bright flying orb.,2013-10-14,35.46756,-97.516428
30596,1994-03-01,menifee,ca,us,unknown,10526400.0,4 months,Sun City / Menifee UFO sightings in 1994,2005-02-22,33.7283333,-117.145556
10853,1977-01-01,new canaan,ct,us,NaN,9468000.0,2-3 years,possible abductions when I was a kid living in...,1998-11-19,41.1466667,-73.495278
54009,2013-06-06,mostar (bosnia/herzogovina),NaN,NaN,sphere,9468000.0,3 years,Sky Watching of Another Kind,2013-07-03,43.342273,17.812754
31486,1984-03-15,griffin,ga,us,circle,7894800.0,3 months,7 large yellow lights with red center estimat...,2006-05-15,33.2466667,-84.264167
53006,2002-06-30,honolulu,hi,us,circle,6312000.0,years,Green glowing UFOs and some that look like sta...,2007-02-01,21.3069444,-157.858333
30590,1993-03-01,ganado,az,us,other,6312000.0,20years,For many years since 1978 to 2004 there have b...,2007-08-07,35.7113889,-109.541389
72377,2004-08-08,united states,NaN,NaN,NaN,6312000.0,years,I thought I saw a UFO but it was a homeland se...,2004-12-14,37.09024,-95.712891
29747,2004-02-07,tehran (iran),NaN,NaN,light,6312000.0,two years,dear sirs: a few nights ago I was sitting outs...,2004-06-18,35.696111,51.423056
693,2001-10-01,chulucanas-piura la vieja (peru),NaN,NaN,other,6312000.0,2 years,go to: http://www.24horas.com.pe/data/videos/...,2003-03-04,-5.129547,-80.120569
21527,2006-12-31,imperial desert,ca,NaN,oval,6312000.0,new years eve,The Object was more round than Oval. It was be...,2007-02-01,32.841179,-115.590169
49422,2012-06-15,huntington,ny,us,light,6312000.0,1-2 years,Strange lights in the sky that move and follow...,2013-10-14,40.8680556,-73.426111

----
# Duracion por tipo

In [74]:
ufos.loc[ufos['state'] == 'wa']['shape'].value_counts()

light        935
fireball     381
triangle     358
circle       347
unknown      318
sphere       289
other        282
disk         210
oval         189
formation    127
changing      92
flash         82
cigar         66
rectangle     65
cylinder      56
diamond       53
chevron       46
egg           38
teardrop      29
cone          17
cross          8
delta          1
Name: shape, dtype: int64

## Avistajes por provincia

In [76]:
ufos.groupby('shape')['duration (seconds)'].mean()

shape
changed       3600.000000
changing      2079.513405
chevron        460.317174
cigar         1917.106830
circle        4768.092717
cone         82827.405063
crescent     18905.000000
cross          748.519313
cylinder      3426.512471
delta         2307.857143
diamond       1413.628625
disk          1460.431677
dome             2.000000
egg           1886.793281
fireball      4023.941484
flare           30.000000
flash         5330.289421
formation     1254.048547
hexagon        240.000000
light        13170.345373
other        20634.210977
oval          3898.586311
pyramid        120.000000
rectangle      683.183346
round          452.500000
sphere       21787.298238
teardrop       942.946000
triangle      1664.266397
unknown       5546.723104
Name: duration (seconds), dtype: float64