In [2]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [16]:
ufos = pd.read_csv('scrubbed.csv', low_memory=False)
ufos['date posted'] = pd.to_datetime(ufos['date posted'])
# ufos['datetime'] = pd.to_datetime(ufos['datetime'])
ufos.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,2004-04-27,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.4180556,-157.803611

In [40]:
ufos['duration (seconds)'] = pd.to_numeric(ufos['duration (seconds)'], errors='coerce')

--------------
# Proporcion de figuras visualizadas

In [10]:
ufos['shape'].value_counts() / ufos['shape'].count()

light        0.211288
triangle     0.100319
circle       0.097041
fireball     0.079184
other        0.072054
unknown      0.071224
sphere       0.068712
disk         0.066492
oval         0.047615
formation    0.031339
cigar        0.026237
changing     0.025026
flash        0.016939
rectangle    0.016543
cylinder     0.016365
diamond      0.015026
chevron      0.012143
egg          0.009681
teardrop     0.009566
cone         0.004031
cross        0.002972
delta        0.000089
crescent     0.000026
round        0.000026
flare        0.000013
pyramid      0.000013
dome         0.000013
hexagon      0.000013
changed      0.000013
Name: shape, dtype: float64

-------------
# Avistajes por estado

In [5]:
ufos[ufos['country'] == 'us']['state'].value_counts()

ca    8912
wa    3966
fl    3835
tx    3447
ny    2980
il    2499
az    2414
pa    2366
oh    2275
mi    1836
or    1747
nc    1740
mo    1458
co    1413
in    1288
va    1273
ma    1256
nj    1255
ga    1255
wi    1232
tn    1119
mn    1012
sc    1003
ct     892
ky     855
md     837
nv     803
ok     724
nm     720
ia     678
al     642
ut     622
ks     613
ar     588
me     558
la     558
id     521
nh     486
mt     478
wv     448
ne     381
ms     375
ak     319
hi     262
vt     260
ri     228
sd     183
wy     175
de     166
nd     129
pr      25
dc       7
Name: state, dtype: int64

----
# Avistajes por a√±o

In [51]:
ufos.loc[((ufos['date posted'].dt.year == 2004) & (ufos['date posted'].dt.month == 3))].groupby('city')['duration (seconds)'].mean().sort_values(ascending=False)

city
bay st. louis                                    181800.0
las vegas                                        173100.0
valparaiso                                       109800.0
lone pine                                        108000.0
sicamous (canada)                                 37800.0
maiden                                            14400.0
rockwell city                                     14400.0
evergreen                                         14400.0
rigaud (canada)                                   14400.0
woodward                                          14400.0
baltimore                                         10800.0
de kalb                                           10800.0
barcelona (spain)                                 10800.0
roswell                                           10800.0
north vernon                                      10800.0
shelby                                            10800.0
gasport                                           10800.0
port coquitlam (canada)                           10800.0
williamsburg                                       9000.0
sallisaw                                           7200.0
spokane                                            7200.0
brunswick hills                                    7200.0
lewniowa (poland)                                  7200.0
milford                                            7200.0
burlington                                         7200.0
old bridge                                         7200.0
live oak                                           7200.0
tom                                                6300.0
london (uk/england)                                5400.0
linthicum                                          5400.0
                                                   ...
san francisco                                         3.0
romeo                                                 3.0
chimacum                                              3.0
long beach/lakewood city limt                         3.0
post falls                                            3.0
bastrop                                               3.0
majenica                                              3.0
stuarts draft                                         3.0
ottawa (canada)                                       3.0
cheyenne                                              3.0
victoria (canada)                                     3.0
ainsworth                                             3.0
motherwell (n. lanarkshire co.) (uk/scotland)         3.0
buffalo                                               3.0
onion lake (canada)                                   2.0
santa cruz                                            2.0
recife (brazil)                                       2.0
bend                                                  2.0
newtown                                               2.0
new effington                                         2.0
blue bell                                             2.0
lewisville                                            2.0
elkader                                               2.0
canandaigua                                           2.0
aachen (near cologne) (germany)                       2.0
morrison                                              1.5
parsippany                                            1.0
bethlehem                                             1.0
healdsburg                                            1.0
hartsville                                            1.0
Name: duration (seconds), Length: 531, dtype: float64

----
# Duracion por tipo

In [43]:
ufos.groupby('shape')['duration (seconds)'].mean().sort_values()

shape
dome             2.000000
flare           30.000000
pyramid        120.000000
hexagon        240.000000
round          452.500000
chevron        460.317174
rectangle      683.183346
cross          748.519313
teardrop       942.946000
formation     1254.048547
diamond       1413.628625
disk          1460.431677
triangle      1664.266397
egg           1886.793281
cigar         1917.106830
changing      2079.513405
delta         2307.857143
cylinder      3426.512471
changed       3600.000000
oval          3898.586311
fireball      4023.941484
circle        4768.092717
flash         5330.289421
unknown       5546.723104
light        13170.345373
crescent     18905.000000
other        20634.210977
sphere       21787.298238
cone         82827.405063
Name: duration (seconds), dtype: float64